USE [master]
GO
/****** Object:  Database [TPFerreteria]    Script Date: 26/11/2025 16:30:37 ******/
CREATE DATABASE [TPFerreteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPFerreteria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TPFerreteria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPFerreteria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TPFerreteria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPFerreteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPFerreteria]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](50) NULL,
	[Nombre] [nvarchar](50) NULL,
	[DNI] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[IDDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IDVenta] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[SubTotal]  AS ([Cantidad]*[PrecioUnitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[IDDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDRol] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime2](7) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[IDCliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IDCliente], [Apellido], [Nombre], [DNI], [Email], [Telefono], [Direccion]) VALUES (1, N'Rizzo', N'Alan', N'4642537', N'ads@gmail.com', N'1154545454', N'lujan 188')
INSERT [dbo].[Clientes] ([IDCliente], [Apellido], [Nombre], [DNI], [Email], [Telefono], [Direccion]) VALUES (3, N'momo', N'oppi', N'12345678', N'oppi@gmail.com', N'122334522', N'blas 123')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleVentas] ON 

INSERT [dbo].[DetalleVentas] ([IDDetalleVenta], [IDVenta], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 4, 1, 1, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([IDDetalleVenta], [IDVenta], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 5, 1, 2, CAST(10.00 AS Decimal(18, 2)))
INSERT [dbo].[DetalleVentas] ([IDDetalleVenta], [IDVenta], [IDProducto], [Cantidad], [PrecioUnitario]) VALUES (4, 5, 4, 1, CAST(1900.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVentas] OFF
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IDProducto], [Nombre], [Descripcion], [Precio], [Stock]) VALUES (1, N'Prueba', N'Solo test', CAST(10.00 AS Decimal(18, 2)), 44)
INSERT [dbo].[Productos] ([IDProducto], [Nombre], [Descripcion], [Precio], [Stock]) VALUES (2, N'Martillo Carpintero', N'Martillo acerado mango de goma', CAST(4500.00 AS Decimal(18, 2)), 18)
INSERT [dbo].[Productos] ([IDProducto], [Nombre], [Descripcion], [Precio], [Stock]) VALUES (3, N'Destornillador Plano', N'Destornillador punta plana 6mm', CAST(1800.00 AS Decimal(18, 2)), 35)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IDRol], [Rol]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IDRol], [Rol]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (1, 1, N'dueño', N'123')
INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (2, 2, N'usuario1', N'321')
INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (3, 2, N'usuario2', N'54321')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([IDVenta], [FechaVenta], [MontoTotal], [IDCliente]) VALUES (1, CAST(N'2025-11-26T14:18:29.9400000' AS DateTime2), CAST(200.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Ventas] ([IDVenta], [FechaVenta], [MontoTotal], [IDCliente]) VALUES (2, CAST(N'2025-11-26T14:18:40.6900000' AS DateTime2), CAST(400.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Ventas] ([IDVenta], [FechaVenta], [MontoTotal], [IDCliente]) VALUES (3, CAST(N'2025-11-26T14:47:13.9766667' AS DateTime2), CAST(10.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__A9D10534E4E8A7EF]    Script Date: 26/11/2025 16:30:37 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Clientes__C035B8DD62B073D2]    Script Date: 26/11/2025 16:30:37 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__CAF00514A4691468]    Script Date: 26/11/2025 16:30:37 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__75E3EFCFCD7251A7]    Script Date: 26/11/2025 16:30:37 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (sysdatetime()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [MontoTotal]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Ventas] ([IDVenta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IDRol])
REFERENCES [dbo].[Roles] ([IDRol])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---------------------------------------------------------
--        STORED PROCEDURES
---------------------------------------------------------

CREATE PROCEDURE [dbo].[AltaCliente]
	@Nombre NVARCHAR(50),
	@Apellido NVARCHAR(50),
	@DNI NVARCHAR(20),
	@Email NVARCHAR(50),
	@Telefono NVARCHAR(20),
	@Direccion NVARCHAR(100)
AS
BEGIN
	INSERT INTO Clientes (Nombre, Apellido, DNI, Email, Telefono, Direccion)
	VALUES (@Nombre, @Apellido, @DNI, @Email, @Telefono, @Direccion);
END
GO
/****** Object:  StoredProcedure [dbo].[AltaProducto]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaProducto]
	@Nombre NVARCHAR(100),
	@Descripcion NVARCHAR(255),
	@Precio DECIMAL(18,2),
	@Stock INT
AS
BEGIN
	INSERT INTO Productos (Nombre, Descripcion, Precio, Stock)
	VALUES (@Nombre, @Descripcion, @Precio, @Stock);
END
GO
/****** Object:  StoredProcedure [dbo].[ListarClientes]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarClientes]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
		IDCliente,
        Apellido,
        Nombre,
        DNI,
        Email,
        Telefono,
        Direccion
    FROM Clientes
    ORDER BY IDCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarProductos]
AS
BEGIN
	SELECT IDProducto, Nombre, Descripcion, Precio, Stock
	FROM Productos
	ORDER BY IDProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarVentas]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVentas]
AS
SELECT IDVenta,FechaVenta,IDCliente,MontoTotal FROM Ventas
ORDER BY IDVenta
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[LoginUsuario]
	@Username NVARCHAR(50),
	@Contrasena NVARCHAR(256)
AS
BEGIN
	SELECT U.IDUsuario, U.Nombre, U.Contrasena, R.IDRol, R.Rol
	FROM Usuarios U
	INNER JOIN Roles R ON R.IDRol = U.IDRol
	WHERE U.Nombre = @Username AND U.Contrasena = @Contrasena;
END
GO
/****** Object:  StoredProcedure [dbo].[P_ObtenerDetallesVenta]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_ObtenerDetallesVenta]
 @IDVenta INT
AS
BEGIN
    SELECT 
        dv.IDProducto,
        p.Nombre,
        dv.Cantidad,
        dv.PrecioUnitario,
        dv.Cantidad * dv.PrecioUnitario AS Subtotal
    FROM DetalleVentas dv
    INNER JOIN Productos p ON p.IdProducto = dv.IDProducto
    WHERE dv.IDVenta = @IDVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[P_ObtenerVenta]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_ObtenerVenta]
 @IDVenta INT
AS
BEGIN
    SELECT IDVenta, FechaVenta, MontoTotal, IDCliente
    FROM Ventas
    WHERE IDVenta = @IDVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[P_RegistrarDetalleVenta]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RegistrarDetalleVenta]
    @IDVenta INT,
    @IDProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO DetalleVentas (IDVenta, IDProducto, Cantidad, PrecioUnitario)
    VALUES (@IDVenta, @IDProducto, @Cantidad, @PrecioUnitario);
END
GO
/****** Object:  StoredProcedure [dbo].[P_RegistrarVenta]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[P_RegistrarVenta]
    @FechaVenta DATETIME2,
    @MontoTotal DECIMAL(18,2),
    @IDCliente INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Ventas (FechaVenta, MontoTotal, IDCliente)
    VALUES (@FechaVenta, @MontoTotal, @IDCliente);

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS IDVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[RestarStockProducto]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RestarStockProducto]
	@IDProducto INT,
	@CantidadVendida INT
AS
BEGIN
	UPDATE Productos
	SET Stock = Stock - @CantidadVendida
	WHERE IDProducto = @IDProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[StockProducto]    Script Date: 26/11/2025 16:30:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[StockProducto]
	@IDProducto INT,
	@Stock INT
AS
BEGIN
	UPDATE Productos
	SET Stock = Stock + @Stock
	WHERE IDProducto = @IDProducto;
END
GO
USE [master]
GO
