USE [master]
GO
/****** Object:  Database [TPFerreteria]    Script Date: 12/11/2025 17:45:25 ******/
CREATE DATABASE [TPFerreteria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPFerreteria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TPFerreteria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPFerreteria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TPFerreteria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPFerreteria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPFerreteria]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nchar](10) NULL,
	[Nombre] [nvarchar](50) NULL,
	[DNI] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](50) NULL,
	[Direccion] [nvarchar](200) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVentas]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVentas](
	[IDDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IDVenta] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](18, 2) NOT NULL,
	[SubTotal]  AS (CONVERT([decimal](18,2),[Cantidad]*[PrecioUnitario])) PERSISTED,
 CONSTRAINT [PK_DetalleVentas] PRIMARY KEY CLUSTERED 
(
	[IDDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](255) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IDRol] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[IDRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IDUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IDRol] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Contrasena] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IDUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime2](0) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[IDCliente] [int] NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([IDProducto], [Nombre], [Descripcion], [Precio], [Stock]) VALUES (123, N'Prueba', N'Solo test', CAST(10.00 AS Decimal(18, 2)), 81)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IDRol], [Rol]) VALUES (2, N'Admin')
INSERT [dbo].[Roles] ([IDRol], [Rol]) VALUES (1, N'Usuario')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (1, 2, N'dueño', N'123')
INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (2, 1, N'usuario1', N'321')
INSERT [dbo].[Usuarios] ([IDUsuario], [IDRol], [Nombre], [Contrasena]) VALUES (3, 1, N'usuario2', N'54321')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clientes_DNI]    Script Date: 12/11/2025 17:45:25 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clientes_Email]    Script Date: 12/11/2025 17:45:25 ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Roles_Rol]    Script Date: 12/11/2025 17:45:25 ******/
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [UQ_Roles_Rol] UNIQUE NONCLUSTERED 
(
	[Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_Nombre]    Script Date: 12/11/2025 17:45:25 ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  CONSTRAINT [DF_Productos_Stock]  DEFAULT ((0)) FOR [Stock]
GO
ALTER TABLE [dbo].[Ventas] ADD  CONSTRAINT [DF_Ventas_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[Ventas] ADD  CONSTRAINT [DF_Ventas_Monto]  DEFAULT ((0)) FOR [MontoTotal]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Productos] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Productos] ([IDProducto])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Productos]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleVentas_Ventas] FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Ventas] ([IDVenta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVentas] CHECK CONSTRAINT [FK_DetalleVentas_Ventas]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([IDRol])
REFERENCES [dbo].[Roles] ([IDRol])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Clientes] ([IDCliente])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[DetalleVentas]  WITH CHECK ADD CHECK  (([PrecioUnitario]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[ActualizarStock]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarStock]
    @IDProducto INT,
    @CantidadVendida INT
AS
BEGIN
    UPDATE Productos
    SET Stock = Stock - @CantidadVendida
    WHERE IDProducto = @IDProducto;
END
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaCliente] 
	@Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50),
    @DNI NVARCHAR(20),
    @Email NVARCHAR(50),
    @Telefono NVARCHAR(20),
    @Direccion NVARCHAR(100)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @ID INT;
	SELECT @ID = ISNULL(MAX(IDCliente),0) +1 FROM Clientes;

	INSERT INTO Clientes (IDCliente, Nombre, Apellido, DNI, Email, Telefono, Direccion)
    VALUES (@ID, @Nombre, @Apellido, @DNI, @Email, @Telefono, @Direccion);

	SELECT @@ROWCOUNT AS FilasAfectadas; 
END
GO
/****** Object:  StoredProcedure [dbo].[AltaProducto]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AltaProducto]
	@Nombre nvarchar(100),
	@Descripcion nvarchar(255),
	@Precio decimal(18,2),
	@Stock int
AS
BEGIN

	SET NOCOUNT ON;

	 DECLARE @IDProducto INT;

	SELECT @IDProducto = ISNULL(MAX(IDProducto), 0) + 1 FROM Productos;

	INSERT INTO Productos(IDProducto,Nombre,Descripcion,Precio,Stock)

	VALUES (@IDProducto,@Nombre,@Descripcion,@Precio,@Stock)

END
GO
/****** Object:  StoredProcedure [dbo].[ListarProductos]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[ListarProductos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IDProducto,
        Nombre,
        Descripcion,
        Precio,
        Stock
    FROM dbo.Productos
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[LoginUsuario]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LoginUsuario]
    @Username   NVARCHAR(50),
    @Contrasena NVARCHAR(256)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        U.IDUsuario,
        U.Nombre,
        U.Contrasena,
        R.IDRol,
        R.Rol
    FROM dbo.Usuarios AS U
    INNER JOIN dbo.Roles AS R
        ON R.IDRol = U.IDRol
    WHERE U.Nombre = @Username
      AND U.Contrasena = @Contrasena;
END
GO
/****** Object:  StoredProcedure [dbo].[P_RegistrarDetalleVenta]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RegistrarDetalleVenta]
    @IDVenta INT,
    @IDProducto INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18,2)
AS
BEGIN
    DECLARE @IDDetalleVenta INT;
    SELECT @IDDetalleVenta = ISNULL(MAX(IDDetalleVenta), 0) + 1 FROM DetalleVentas;

    INSERT INTO DetalleVentas (IDDetalleVenta, IDVenta, IDProducto, Cantidad, PrecioUnitario)
    VALUES (@IDDetalleVenta, @IDVenta, @IDProducto, @Cantidad, @PrecioUnitario);
END
GO
/****** Object:  StoredProcedure [dbo].[P_RegistrarVenta]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[P_RegistrarVenta]
    @FechaVenta DATETIME2,
    @MontoTotal DECIMAL(18, 2),
    @IDCliente INT,
    @IDVenta INT OUTPUT
AS
BEGIN
    -- Asignar IDVenta manualmente
    SELECT @IDVenta = ISNULL(MAX(IDVenta), 0) + 1 FROM Ventas;

    INSERT INTO Ventas (IDVenta, FechaVenta, MontoTotal, IDCliente)
    VALUES (@IDVenta, @FechaVenta, @MontoTotal, @IDCliente);
END
GO
/****** Object:  StoredProcedure [dbo].[StockProducto]    Script Date: 12/11/2025 17:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[StockProducto]
	@IDProducto int,
	@Stock int
AS
BEGIN

	SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Productos WHERE IDProducto = @IDProducto)
    BEGIN
        UPDATE dbo.Productos
        SET Stock = Stock + @Stock  
        WHERE IDProducto = @IDProducto;
    END

END
GO
USE [master]
GO
